@CHARSET "ISO-8859-1";

li {
	font-family:Raleway;
}

#selectUsers {
	background-color: black;
	width:100%;
}

.removeCollaborator {
	float: right;
}

.boxCollaborator {
	height:130px !important;
	padding:7px !important;
}

.imgCollaborator {
	width: 75px !important;
	margin : 10%;
}

.nav-tabs-custom>.nav-tabs>li.active {
	border-top-color: transparent;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #3c8dbc;
}
/*
#pending{
	margin-top: 18%
}*/