@charset "ISO-8859-1";

#navbar{
	height: 50px;
}

#drop{
	height: 50px;
	padding-top: 5px;
}

#a_drop{
	height: 50px;
	margin-bottom: 10px;
}
	
#logo_nav{
	height: 50px;
	background-color: #dd4b39;
}